html {
  font-size: 0.875rem; /* set 1rem to 14px */
}

body {
  font-family: "Inter", sans-serif;
}

.app-container {
  margin-inline: auto;
  width: 100%;
  @media (min-width: 640px) {
    max-width: 600px;
  }
  @media (min-width: 768px) {
    max-width: 720px;
  }
  @media (min-width: 1024px) {
    max-width: 960px;
  }
  @media (min-width: 1280px) {
    max-width: 1140px;
  }
}

h1 {
  font-size: var(--font-size-3xl);
  line-height: var(--font-size-3xl--line-height);
  font-weight: var(--weight-bold);
  color: var(--p-surface-900);
}
