# Container image name for api
API_IMAGE=

# Default container port for api
API_PORT=

# Container image name for database-migrator
DATABASE_MIGRATOR_IMAGE=

# Container image name for frontend
FRONTEND_IMAGE=

# Parameter oidc-audience
OIDC_AUDIENCE=

# Parameter oidc-auth-session-secret
OIDC_AUTH_SESSION_SECRET=

# Parameter oidc-authority
OIDC_AUTHORITY=

# Parameter oidc-authorization-url
OIDC_AUTHORIZATION_URL=

# Parameter oidc-client-id
OIDC_CLIENT_ID=

# Parameter oidc-client-secret
OIDC_CLIENT_SECRET=

# Parameter oidc-logout-url
OIDC_LOGOUT_URL=

# Parameter oidc-openid-configuration
OIDC_OPENID_CONFIGURATION=

# Parameter oidc-session-secret
OIDC_SESSION_SECRET=

# Parameter oidc-token-key
OIDC_TOKEN_KEY=

# Parameter oidc-token-url
OIDC_TOKEN_URL=

# Parameter oidc-userinfo-url
OIDC_USERINFO_URL=

# Parameter postgres-password
POSTGRES_PASSWORD=

# Parameter valkey-password
VALKEY_PASSWORD=

